
{% do action( 'woocommerce_before_cart' ) %}

<div class="mini-cart">

  <input type="checkbox" id="big-gulp">
  <label class="{{ (post.name|lower == 'home') ? '' : 'dark'}}" for="big-gulp">
    <img src="{{ global_options.gulp_icon.url }}">
    <span>
      {{ cart_count }}
    <span>
  </label>

  
  <div class="cart-modal" data-cart="container">

    <div class="cart-content">
    <h2>Your Tub</h2>
    {% if not cart_is_empty %}

      <form class="cart-form" action="{{ fn('wc_get_cart_url')|e('esc_url') }}" method="post">

          {% do action('woocommerce_before_cart_table') %}

          {% do action( 'woocommerce_before_cart_contents' ) %}

          <ul class="mini-cart__list">
              {% for product in cart_items %}

                <li class="mini-cart-item {% if cart|length < 2 %} mini-cart-item--no-border {% endif %}{% if loop.last %}mini-cart-item--last{% endif %}">

                      <div class="cart-item-image">
                          <img src="{{ product.thumbnail }}"  alt="{{ product.title }}" />
                      </div>

                      <div class="cart-item-details">
                        <div class="mini-cart-item__column mini-cart-item__column--main">
                          <span class="mini-cart-item__title">{{ product.title }}</span>
                          <span class="mini-cart-item__quantity">{{ product.total }}</span>
                        </div>

                        <div class="mini-cart-item__column mini-cart-item__column--remove">
                          <div class="qty-toggle">Quantity
                            {{ product.quantity }}
                          </div>
                          <a href="{{ product.delete_permalink }}">Remove</a>
                        </div>

                      </div>

                  </li>

              {% endfor %}

          </ul>

          <div class="actions">

              {% if (cart_items|length > 0) %}

                  <button type="submit" class="button cart__update-btn" name="update_cart" value="{{ function('wc_get_cart_url')|e('esc_url') }}">Update Cart</button>

                  {% do action( 'woocommerce_cart_actions' ) %}
                  {{ function('wp_nonce_field', 'woocommerce-cart') }}
                  {% do action('wp_nonce_field', 'woocommerce-cart', 'woocommerce-cart-nonce') %}

              {% endif %}

          </div>

          {% do action( 'woocommerce_after_cart_contents' ) %}

          {% do action( 'woocommerce_after_cart_table' ) %}

      </form>

    {% else %}

      <li>
        <p class="mini-cart__empty-message">{{ _e( 'Your tub is empty', 'woocommerce' ) }}</p>
      </li>

    {% endif %}

      <div class="cart-summary">
        <div class="subtotal">
          <span>{{ _e( 'Subtotal', 'woocommerce' ) }}: </span>
          <span class="mini-cart__total total">{{ cart_subtotal }}</span>
        </div>

        <div class="cart-buttons-container">
          {% do action( 'woocommerce_widget_shopping_cart_before_buttons' ) %}

          {% do action( 'woocommerce_widget_shopping_cart_buttons' ) %}
        </div>
      </div>
    </div>
    {# End cart__content #}
  </div> 
  {# end cart #}
</div>

{% do action( 'woocommerce_after_cart' ) %}

