{#

    Template: Mini Cart

    Mini cart shown on all pages

#}

{% do action( 'woocommerce_before_mini_cart' ) %}

<div class="mini-cart">
  
  <input type="checkbox" id="big-gulp">
  <label class="{{ (post.name|lower == 'home') ? '' : 'dark'}}" for="big-gulp">
    <img src="{{ global_options.gulp_icon.url }}">
    <span>
      {{ cart_count }}
    <span>
  </label>

  {% do action( 'woocommerce_before_mini_cart_contents' ) %}
  
  <div class="cart-modal">
  <div class="cart-content">
    <h2>Your Tub</h2>
    <ul class="mini-cart__list">

      {% if not cart_is_empty %}

        {% for key, item in cart %}

          {% set quantity = item.quantity %}
          {% set product = function('apply_filters', 'woocommerce_cart_item_product', item.data, item, key ) %}
          {% set id = function('apply_filters', 'woocommerce_cart_item_product_id', item.product_id, item, key ) %}
          {% set filters = function('apply_filters', 'woocommerce_widget_cart_item_visible', true, item, key ) %}

          {% if (product and product.exists and (item.quantity > 0) and filters) %}

            {% set product_name = fn('apply_filters', 'woocommerce_cart_item_name', product.get_name(), item, key ) %}
            {% set thumbnail = fn('apply_filters', 'woocommerce_cart_item_thumbnail', product.get_image(), item, key ) %}
            {% set product_price = fn('apply_filters', 'woocommerce_cart_item_price', product.get_price(), item, key ) %}
            {% set permalink = fn('apply_filters', 'woocommerce_cart_item_permalink', product.is_visible() ? product.get_permalink( item ) : '', item, key ) %}
            {% set remove_link = fn('wc_get_cart_remove_url', key) %}

            <li class="mini-cart-item {% if cart|length < 2 %} mini-cart-item--no-border {% endif %}{% if loop.last %}mini-cart-item--last{% endif %}">

              <div class="cart-item-image">
                {{ product.get_image() }}
              </div>

              <div class="cart-item-details">
                <div class="mini-cart-item__column mini-cart-item__column--main">
                  <span class="mini-cart-item__title">{{ product_name }}</span>
                  <span class="mini-cart-item__quantity">{{ quantity }} x {{ currency }}{{ product_price }}</span>
                </div>

                <div class="mini-cart-item__column mini-cart-item__column--remove">
                  <div class="qty-toggle">Quantity</div>
                  <a href="{{ remove_link }}">Remove</a>
                </div>
              </div>

            </li>

          {% endif %}

        {% endfor %}
        {# {% for key, product in cart_items %}

            <li class="mini-cart-item {% if cart|length < 2 %} mini-cart-item--no-border {% endif %}{% if loop.last %}mini-cart-item--last{% endif %}">

              <a href="{{ product.url }}">
              <div class="cart-item-image">
                <img src="{{ product.thumbnail }}" class="cart-item__image" alt="{{ product.title }}" />
              </div>
              </a>

              <div class="cart-item-details">
                <div class="mini-cart-item__column mini-cart-item__column--main">
                  <span class="mini-cart-item__title">{{ product.title }}</span>
                  <span class="mini-cart-item__quantity">{{ currency }}{{ product.price }}</span>
                </div>

                <div class="mini-cart-item__column mini-cart-item__column--remove">
                  <div class="qty-toggle">Quantity
                    {{ product.quantity }}
                  </div>
                  <a href="{{ product.delete_permalink }}">Remove</a>
                </div>
              </div>

            </li>

        {% endfor %} #}

      {% else %}

        <li>
          <p class="mini-cart__empty-message">{{ _e( 'Your tub is empty', 'woocommerce' ) }}</p>
        </li>

      {% endif %}

    </ul>

    <div class="cart-summary">
      <div class="subtotal">
        <span>{{ _e( 'Subtotal', 'woocommerce' ) }}: </span>
        <span class="mini-cart__total total">{{ cart_subtotal }}</span>
      </div>

      <div class="cart-buttons-container">
        {% do action( 'woocommerce_widget_shopping_cart_before_buttons' ) %}

        {% do action( 'woocommerce_widget_shopping_cart_buttons' ) %}
      </div>
    </div>

  </div>
  </div>

  {% do action( 'woocommerce_mini_cart_contents' ) %}

</div>

{% do action( 'woocommerce_after_mini_cart' ) %}
