{% set header_fill = post.get_field('header_fill') %}
{% set hex_code = header_fill.hex_code ? header_fill.hex_code : global_options.banner.header_fill.hex_code %}
{% set bg_url = header_fill.image_link.url %}
{% set opacity = header_fill.fill_opacity %}
{% set svg_path = post.get_field('svg_path') ? post.get_field('svg_path') : global_options.banner.svg_path %}
{% set transform = post.get_field('transform') ? post.get_field('transform') : global_options.banner.transform %}
{% set logo = global_options.logo %}

<header class="header">
  <div class="nav {% if post.name == 'Home' or post.name == 'Contact' or post.name == 'About' or post.name == 'Jobs' or post.name == 'Community' or post.name == 'Catering' %}{{post.name|lower}}{% else %}menu{% endif %}">
    <a class="logo" href="/">
      <img src="{{ logo.url }}">
    </a>
    <input type="checkbox" id="nav-check">
    <div class="nav-btn">
      <label for="nav-check">
        <span class="{{ (post.name|lower == 'home') ? '' : 'dark'}}"></span>
        <span class="{{ (post.name|lower == 'home') ? '' : 'dark'}}"></span>
        <span class="{{ (post.name|lower == 'home') ? '' : 'dark'}}"></span>
      </label>
    </div>
    {# <input type="checkbox" id="nav-check"> #}
    <div class="nav-menu">
      <a href="/" class="home {{ (post.name|lower == 'home') ? 'active' : ''}}">Home</a>
      {% for nav_item in navigation.items %}
        <a class="{{ (post.name|lower == 'home') ? '' : 'dark'}} {{ (post.name|lower == nav_item.title|lower) ? 'active' : post.name }}" href="{{ nav_item.url }}">{{ nav_item.title }}</a>
      {% endfor %}
      {# {{ fn('woocommerce_mini_cart', {
        'type': post.name
      }) }} #}
      <svg class="nav-filler-svg">
        <path d="M0 0 L0 200 L200 200 L200 0 Z" fill= "#D53940"/>
      </svg>
      <svg id="nav-menu-svg" width="376.418" height="475.163" viewBox="0 0 376.418 475.163">
        <path class="nav-menu-svg-path" d="M0,0V451.594s16.63,19.68,55.16,19.68,51.558-19.68,98.961-19.68,55.313,32.293,90.652,19.68,22.7-16.852,49.164-23.844,37.661.531,56.691-4.125,24.789-26.98,24.789-26.98V0Z" transform="translate(0.5 0.5)"/>
      </svg>
    </div>
    <div class="widget_shopping_cart_content">
      {{ 
        fn('woocommerce_mini_cart', { 'type': post.name }) 
      }}
    </div>
  </div>
  
  <svg id="mobile-pad" class="{% if post.name == 'Home' or post.name == 'Contact' or post.name == 'About' or post.name == 'Jobs' or post.name == 'Community' or post.name == 'Catering' %}{{post.name|lower}}{% else %}menu{% endif %}">
    <rect class="{% if post.name == 'Home' or post.name == 'Contact' or post.name == 'About' %}{{post.name|lower}}{% else %}menu{% endif %}"/>
  </svg>

  {% if hex_code and not bg_url %}

    <svg id="morph" class="intro-lick {% if post.name == 'Home' or post.name == 'Contact' or post.name == 'About' or post.name == 'Gallery' %}{{post.name|lower}}{% else %}menu{% endif %}" preserveAspectRatio="meet" viewBox="0 0 1920 637.3">
      <path class="morph" d="{{ svg_path }}" transform="{{ transform }}" fill={{ hex_code }} />
    </svg>

  {% else %}

    <svg id="morph" class="intro-lick contact-header" height="100%" width="100%"  viewBox="0 0 1920 1080" preserveAspectRatio="none">
      <defs>
        <pattern id="img1" patternUnits="userSpaceOnUse" x="0" y="0" width="100%" height="100%">
          <image xlink:href="{{ bg_url }}" />             
        </pattern>
      </defs>
      <path class="morph-img" d="{{ svg_path }}" transform="{{ transform }}" fill="url(#img1)" fill-opacity="{{ opacity }}"/>
    </svg>

  {% endif %}

</header>
