<header class="header {{ (post.name|lower == 'ritual') ? 'header--fixed header--ritual' }} {% if header_type %}header--{{ header_type }}{% endif %}" data-header="container">

    <div class="header__inner">

        <div class="header__col header__col--nav">

            <nav class="nav nav--main" data-header="navigation">

                <div class="nav__toggle" data-navigation="toggle">
                    <span class="nav__toggler"></span>
                    <span class="nav__toggler"></span>
                </div>

                <ul class="nav__items" data-navigation="items">

                    {% for nav_item in navigation.items %}

                        <li class="nav__item {{ (nav_item.current == true) ? 'nav__item--current' : '' }}" data-navigation="item">
                            <a href="{{ nav_item.url }}" class="nav__link {{ (nav_item.current == true) ? 'nav__link--current' : '' }}">{{ nav_item.title }}</a>
                        </li>

                    {% endfor %}

                </ul>

            </nav>

        </div>

        <div class="header__col header__col--logo">
            <a href="/" class="header__logo"><img src="{{ assets }}/svg/logo.svg" alt="NestBloom" /></a>
        </div>

        <div class="header__col header__col--cart">

            <div class="cart-widget">
                {{ fn('woocommerce_mini_cart') }}
            </div>

        </div>

    </div>

</header>
