{% extends 'layout.twig' %}

{% set site_title = 'About' %}

{% block page %}
  {% set intro_header = post.get_field('intro_header') %}
  {% set intro_subheader = post.get_field('intro_subheader') %}
  {% set intro_image = post.get_field('intro_image') %}

  {% set description = post.get_field('description') %}
  {% set image = post.get_field('image') %}

  {% set process = post.get_field('process') %}

  {% set recipe_header = post.get_field('recipe_header') %}
  {% set recipe_subheader = post.get_field('recipe_subheader') %}
  {% set slides = post.get_field('slides') %}

  {% set community_title = post.get_field('community_title') %}
  {% set community_header = post.get_field('community_header') %}
  {% set community_content = post.get_field('community_content') %}
  {% set community_image = post.get_field('community_image') %}

  {% set link = post.get_field('link') %}

<section>

  {% include 'components/banner.twig' with {
    type: 'shop',
    title: intro_header,
    subtitle: intro_subheader,
    image: intro_image.url
  } %}

  <section>
    <h1>About us write up section</h1>
    <p>{{ description }}</p>
    <p>{{ image.url }}</p>
  </section>

  <section>
    <h1>Process: from cow to cone section</h1>
    <p>{{ process.title[0].text }}</p>
    <p>{{ process.title[0].image.url }}</p>
    <p>{{ process.title[1].text }}</p>
    <p>{{ process.title[1].image.url }}</p>
    <p>{{ process.image_1.url }}</p>
    <p>{{ process.image_2.url }}</p>
    <p>{{ process.image_3.url }}</p>
    {% for step in process.steps %}
      <p>Step {{ loop.index }}</p>
      <p>{{ step.description }}</p>
    {% endfor %}
  </section>

  <section>
    <h1>Made with the good stuff section</h1>
    <p>{{ recipe_header }}</p>
    <p>{{ recipe_subheader }}</p>
    {% for slide in slides %}
      <p>{{ loop.index }})</p>
      <p>{{ slide.image.url }}</p>
      <p>{{ slide.title }}</p>
      <p>{{ slide.subtitle }}</p>
    {% endfor %}
  </section>

  <section>
    <h1>Community Section</h1>
    <p>{{ community_title }}</p>
    <p>{{ community_header }}</p>
    <p>{{ community_content }}</p>
    <p>{{ community_image.url }}</p>
  </section>

  <section class="journey-link">
    <a href="{{ link.url }}" class="journey-link__url">
      <span>{{ link.title }}</span>
    </a>
  </section>

</section>

{% endblock %}
