{% extends 'layout.twig' %}

{% set site_title = 'About' %}

{% block page %}
  {% set intro_header = post.get_field('intro_header') %}
  {% set intro_subheader = post.get_field('intro_subheader') %}

  {% set description = post.get_field('description') %}
  {% set image = post.get_field('image') %}

  {% set process = post.get_field('process') %}

  {% set recipe_header = post.get_field('recipe_header') %}
  {% set recipe_subheader = post.get_field('recipe_subheader') %}
  {% set slides = post.get_field('slides') %}

  {% set community_title = post.get_field('community_title') %}
  {% set community_header = post.get_field('community_header') %}
  {% set community_content = post.get_field('community_content') %}
  {% set community_image = post.get_field('community_image') %}

  {% set link = post.get_field('link') %}

  <section class="intro">
    <h1>{{ intro_header }}</h1>
    <p>{{ intro_subheader }}</p>
  </section>

  <section class="write-up">

    <div>
      {{ description }}
    </div>
    <img src="{{ image.url }}" />

  </section>

  <section class="provenance">

    <div class="header">

      <h1>
        {{ process.title[0].text }}
        <img src="{{ process.title[0].image.url }}"/>
      </h1>
      <h1>
        {{ process.title[1].text }}
        <img src="{{ process.title[1].image.url }}"/>
      </h1>
      <img src="{{ process.image_1.url }}"/>
    </div>

    <div class="steps">
      <img src="{{ process.image_2.url }}"/>
      {% for step in process.steps %}
        <div class="step">
          <div class="step-number">
            {{ loop.index }}
          </div>
          <div class="step-description">
            {{ step.description }}
          </div>
        </div>
      {% endfor %}
      <img src="{{ process.image_3.url }}"/>
    </div>

  </section>

  <section class="recipe">
    <h1>{{ recipe_header }}</h1>
    <p>{{ recipe_subheader }}</p>

    {% for slide in slides %}
      <div class="mySlides fade">
        <img src="{{ slide.image.url }}" />
        <div class="words">
          <h1>{{ slide.image }} </h1>
          <h2>{{ slide.title }}</h2>
          <p>{{ slide.subtitle }}</p>
        </div>
      </div>
    {% endfor %}

    </div>
    <br>

    <div style="text-align:center">
      <span class="dot"></span> 
      <span class="dot"></span> 
      <span class="dot"></span> 
    </div>
  </section>

  <section class="community">
    <h1>{{ community_title }}</h1>
    <div class="community-details">
      <img src="{{ community_image.url }}" />
      <div class="write-up">
        <h2>{{ community_header }}</h2>
        <p>{{ community_content }}</p>
      </div>
    </div>
  </section>

  <section class="nav-shortcut">
    <a href="{{ link.url }}" class="journey-link__url">
      <span>{{ link.title }}</span>
    </a>
    {# <svg class="smorph" id="strawberryShortCake" height="100%" width="100%"  viewBox="0 0 1920 1080" preserveAspectRatio="none"><path class="liquid-effect1" d="M0,3510v651.7s240.566,214.315,365.767,164.273,271.355-22.069,393.723,0,196.733,67.173,327.881,61.978,119-71.038,300.788-118.267,178.618,24.388,334.346,0,199.738-196.067,199.738-196.067V3510Z" transform="translate(0 -3700.5)" fill="white"/></svg> #}
  </section>

{% endblock %}
