{% extends 'layout.twig' %}

{% set site_title = 'About' %}

{% block page %}
  {% set intro_header = post.get_field('intro_header') %}
  {% set intro_subheader = post.get_field('intro_subheader') %}

  {% set description = post.get_field('description') %}
  {% set image = post.get_field('image') %}

  {% set process = post.get_field('process') %}

  {% set recipe_header = post.get_field('recipe_header') %}
  {% set recipe_subheader = post.get_field('recipe_subheader') %}
  {% set slides = post.get_field('slides') %}

  {% set community_title = post.get_field('community_title') %}
  {% set community_header = post.get_field('community_header') %}
  {% set community_content = post.get_field('community_content') %}
  {% set community_image = post.get_field('community_image') %}

  {% set link = post.get_field('link') %}

  <section class="intro">
    <h1>{{ intro_header }}</h1>
    <p>{{ intro_subheader }}</p>
  </section>

  <section class="write-up">

    <div>
      {{ description }}
    </div>
    <img src="{{ image.url }}" />

  </section>

  <section class="provenance">

    <div class="header">

      <h1>
        {{ process.title[0].text }}
        <img src="{{ process.title[0].image.url }}"/>
      </h1>
      <h1>
        {{ process.title[1].text }}
        <img src="{{ process.title[1].image.url }}"/>
      </h1>
      <img src="{{ process.image_1.url }}"/>
    </div>

    <div class="steps">
      <img src="{{ process.image_2.url }}"/>
      {% for step in process.steps %}
        <div class="step">
          <div class="step-number">
            {{ loop.index }}
          </div>
          <div class="step-description">
            {{ step.description }}
          </div>
        </div>
      {% endfor %}
      <img src="{{ process.image_3.url }}"/>
    </div>

  </section>

  <section class="recipe">
    <h1>{{ recipe_header }}</h1>
    <p>{{ recipe_subheader }}</p>
    
    {% for slide in slides %}
      <div class="recipe-slider-card">
        <img src="{{ slide.image.url }}" />
        <div class="words">
          <h2>{{ slide.title }}</h2>
          <p>{{ slide.subtitle }}</p>
        </div>
      </div>
    {% endfor %}
  </section>

  <section class="community">
    <h1>{{ community_title }}</h1>
    <div class="community-details">
      <img src="{{ community_image.url }}" />
      <div class="write-up">
        <h2>{{ community_header }}</h2>
        <p>{{ community_content }}</p>
      </div>
    </div>
  </section>

  <section class="journey-link">
    <a href="{{ link.url }}" class="journey-link__url">
      <span>{{ link.title }}</span>
    </a>
  </section>

{% endblock %}
