{% extends 'layout.twig' %}

{% set site_title = 'About' %}

{% block page %}
  {% set intro_header = post.get_field('intro_header') %}
  {% set intro_subheader = post.get_field('intro_subheader') %}

  {% set description = post.get_field('description') %}
  {% set image = post.get_field('image') %}

  {% set process = post.get_field('process') %}

  {% set recipe_header = post.get_field('recipe_header') %}
  {% set recipe_subheader = post.get_field('recipe_subheader') %}
  {% set slides = post.get_field('slides') %}

  {% set community_title = post.get_field('community_title') %}
  {% set community_header = post.get_field('community_header') %}
  {% set community_content = post.get_field('community_content') %}
  {% set community_image = post.get_field('community_image') %}

  {% set link = post.get_field('link') %}

  <section class="intro">
    <h1>{{ intro_header }}</h1>
    <p>{{ intro_subheader }}</p>
  </section>

  <section class="place-bg">
    <img src="{{ image.url }}" />
    {# svg here #}
    <svg id="place-bg-svg" class="" preserveAspectRatio="none">
      <path d="M1919.8,0H0v257.9c0,0,104.8,60,384.8,17.9c196.3-51.4,271.3-27.4,410.3,19c191.6,64,361.7-25.3,361.7-25.3 s165.8-94.2,420.8,51.7c236.7,121.8,342.2-43.7,342.2-43.7V0z" />
    </svg>
  </section>
  
  <section class="write-up">
    <div>
      {{ description }}
    </div>
  </section>

  <section class="provenance">

    <div class="header">

      <h1>
        {{ process.title[0].text }}
        <img src="{{ process.title[0].image.url }}"/>
      </h1>
      <h1>
        {{ process.title[1].text }}
        <img src="{{ process.title[1].image.url }}"/>
      </h1>
      <img src="{{ process.image_1.url }}"/>
    </div>

    <div class="steps">
      <img src="{{ process.image_2.url }}"/>
      {% for step in process.steps %}
        <div class="step">
          <div class="step-number">
            {{ loop.index }}
          </div>
          <div class="step-description">
            {{ step.description }}
          </div>
        </div>
      {% endfor %}
      <img src="{{ process.image_3.url }}"/>
    </div>

  </section>

  <section class="recipe">
    <svg id="provenance-svg" class="" preserveAspectRatio="none">
      <path d="M0.2,135.8c0,0-20,72,342.2,72c297.7,0,420.8,61.7,420.8,61.7s170,89.3,361.7,25.3c139-46.4,214-70.4,410.3-19 c280,42.1,384.8-46.2,384.8-46.2V0H0.2V135.8z" />
    </svg>
    <h1>{{ recipe_header }}</h1>
    <p>{{ recipe_subheader }}</p>
    
    {% for slide in slides %}
      <div class="mySlides">
        <div class="recipe-slider-card">
          <img src="{{ slide.image.url }}" />
          <div class="words">
            <h2>{{ slide.title }}</h2>
            <p>{{ slide.subtitle }}</p>
          </div>
        </div>
      </div>
    {% endfor %}

    </div>
    <br>

    <div class="dots" style="text-align:center">
      <span class="dot"></span> 
      <span class="dot"></span> 
      <span class="dot"></span> 
    </div>
  </section>

  <section class="community">
    <svg id="recipe-svg" class="" preserveAspectRatio="none">
      <path d="M0.2,135.8c0,0-20,72,342.2,72c297.7,0,420.8,61.7,420.8,61.7s170,89.3,361.7,25.3c139-46.4,214-70.4,410.3-19 c280,42.1,384.8-46.2,384.8-46.2V0H0.2V135.8z" />
    </svg>
    <h1>{{ community_title }}</h1>
    <div class="community-details">
      <img src="{{ community_image.url }}" />
      <div class="write-up">
        <h2>{{ community_header }}</h2>
        <p>{{ community_content }}</p>
      </div>
    </div>
  </section>

  <section class="nav-shortcut">
    <svg id="community-svg" class="" preserveAspectRatio="none">
      <path d="M1919.8,0H0v257.9c0,0,104.8,60,384.8,17.9c196.3-51.4,271.3-27.4,410.3,19c191.6,64,361.7-25.3,361.7-25.3 s165.8-94.2,420.8,51.7c236.7,121.8,342.2-43.7,342.2-43.7V0z" />
    </svg>
    <a href="{{ link.url }}" class="journey-link__url">
      <span>{{ link.title }}</span>
    </a>
    <svg id="nav-footer-svg" class="" preserveAspectRatio="none">
      <path d="M0,0h1919.8v144l0,0c0,0,20,195.5-342.2,195.5c-297.7,0-417.4,152.1-417.4,152.1s-68.6,86.7-260.2,22.7 c-139-46.4-311.1-60.5-507.4-9.1C142,583.9,0,332.9,0,332.9V0z" />
    </svg>
  </section>

{% endblock %}
