{% extends 'layout.twig' %}

{% set site_title = post.title %}
{% set nav_footer = post.get_field('nav_footer') %}
{% block page %}

  <section class="intro">
    <h1>Contact</h1>
  </section>
  
  <section class="form-container">
    <h1>I am contacting you for</h1>
    <div class="form-selector">
      <p class='form-selector-p'>
        <span class='form-selector-p-span'>
          <select onchange="window.location.href = this.value;">
            <option {% if post.title | lower == 'contact' %} selected {% endif %} value="{{ enquiry_url }}">Enquiry</option>
            <option {% if post.title | lower == 'community' %} selected {% endif %} value="{{ community_url }}">Community</option>
            <option {% if post.title | lower == 'catering' %} selected {% endif %} value="{{ catering_url }}">Catering</option>
            <option {% if post.title | lower == 'jobs' %} selected {% endif %} value="{{ jobs_url }}">Jobs</option>
          </select>
        </span>
      </p>
    </div>
    {{ post.content }}
    {# <button>This is a button</button> #}
  </section>

  <section id="shop-foot-link" class="nav-shortcut strawberry">
      <svg id="filler-svg" class="filler-svg others top contact" preserveAspectRatio="meet" viewBox="0 0 1920 637.3" >
        <path d="M0.2,135.8c0,0-20,72,342.2,72c297.7,0,420.8,61.7,420.8,61.7s170,89.3,361.7,25.3c139-46.4,214-70.4,410.3-19c280,42.1,384.8-46.2,384.8-46.2V0H0.2V135.8z" />
      </svg>
      {# <a class="journey-link__url contact" href="{{ nav_footer.url }}" >
        <span>{{ nav_footer.title }}</span>
        <br>
        <img src="{{ assets }}/svg/arrow.svg"></img> #}
      <a href="{{ nav_footer.url }}" class="journey-link__url contact">

        <span class="button__text">
            {{ nav_footer.title }}
        </span>

        <div class="button__icon">
                  <!--?xml version="1.0" encoding="UTF-8"?-->
          <svg width="28px" height="11px" viewBox="0 0 28 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="arrow-animated">
            <g class="arrow-animated__arrow arrow-animated__arrow--faded" stroke-width="1.5">
              <path d="M13,5.5 L26,5.5 L22,1.5"></path>
              <path d="M13,5.5 L26,5.5 L22,9.5"></path>
            </g>

            <g class="arrow-animated__arrow arrow-animated__arrow--main" stroke-width="1.5">
              <path d="M1,5.5 L26,5.5 L22,1.5"></path>
              <path d="M1,5.5 L26,5.5 L22,9.5"></path>
            </g>
          </svg>
        </div>
      </a>
      <svg id="filler-svg" class="filler-svg others bottom contact" preserveAspectRatio="meet" viewBox="0 0 1920 637.3" >
        <path d="M0.2,135.8c0,0-20,72,342.2,72c297.7,0,420.8,61.7,420.8,61.7s170,89.3,361.7,25.3c139-46.4,214-70.4,410.3-19c280,42.1,384.8-46.2,384.8-46.2V0H0.2V135.8z" />
      </svg>
  </section>

{% endblock %}
