{% extends 'layout.twig' %}

{% set site_title = post.title %}

{% block page %}
    {% set questionsAnswers = post.get_field('accordion') %}

    <section class="section">

        <h1 class="section__title">{{ post.title }}</h1>

        <ul class="section__links">
            {% if post.get_field('page_links') %}

                {% for item in post.get_field('page_links') %}

                    <li class="section__link"><a href="{{ item.link.url }}">{{ item.link.title }}</a></li>
                {% endfor %}

            {% endif %}
        </ul>

        <section class="section-content">
            <div class="tabs">
                {% for questionAnswer in questionsAnswers %}
                    <div class="tab">
                        <input id="{{ questionAnswer.header }}" type="checkbox" name="tabs">
                        <label for="{{ questionAnswer.header }}">{{ questionAnswer.header }}</label>
                        <div class="tab-content">
                            <p>{{ questionAnswer.content }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>

    </section>

{% endblock %}
