{% extends 'layout.twig' %}

{% set site_title = 'Home' %}

{% set featured_product_images = post.get_field('featured_product_images') %}
{% set cone = post.get_field('cone') %}
{% set header = post.get_field('header_text') %}
{% set yes = post.get_field('yes') %}
{% set no = post.get_field('no') %}
{% set announcement = post.get_field('announcement') %}
{% set featured_product = post.get_field('featured_product') %}

{% set flavours_header = post.get_field('flavours_header') %}
{% set featured_flavours = post.get_field('featured_flavours_lines') %}
{% set view_menu = post.get_field('view_menu_link') %}

{% set locations = post.get_field('locations') %}
{% set locations_header = post.get_field('locations').header %}
{% set locations_list = post.get_field('locations').list %}

{% set insta_header = post.get_field('insta_header_text') %}
{% set insta_handle = post.get_field('insta_handle') %}
{% set insta_gallery = post.get_field('insta_gallery') %}
{% set insta_gallery_mobile = post.get_field('insta_gallery_mobile') %}


{% block page %}

<section class="page-header">
  <h1>
    <span>It's</span> 
    <span>always</span>
    <span class="mobile-break">a</span>
    <span id="desktop-break">good</span>
    <span>time</span>
    <span class="mobile-break">for</span> 
    <span>ice cream</span>
  </h1>
  <p>You should order <span class="should-order" id="{{ featured_product.code }}"><a href="{{ featured_product.link.url }}">{{ featured_product.name }}</a></span></p>
  <div class="announcement">
    <svg class="ice-cream-rim" width="243.021" height="245.547" viewBox="0 0 243.021 245.547"><defs><style>.a{fill:#fff;}</style></defs><path class="a" d="M1160.037,388.383s.269,29.842,43.4,69.366c17.438,16.451,33.971,30.559,33.971,30.559s21.562,17.84,40.27,16.122,50.934,1.569,78.884-26.5c60.552-63.725,43.126-126.484,43.126-126.484s-7.65-63.213-43.634-77.482-39.905-17.308-79.716-13.411-56.251,9.577-64.465,22.963-13.672,18.472-28.135,35.266S1154.962,358.87,1160.037,388.383Z" transform="translate(-1158.993 -258.998)"/></svg>
    <div class="announcement-container">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 333 416.2" style="enable-background:new 0 0 333 416.2;" xml:space="preserve">
<g>
	<g>
		<path d="M182.5,120.1l26.4-9.8c0,0,0.8,0,1.5,0c2.3,0,3.8,2.3,3.8,4.5l0.8,160.5c0,3-3,5.3-5.3,4.5l-26.4-9c-2.3-0.8-3-2.3-3-3.8
			v-9l-50.5-13.6l-2.3,8.3c-2.3,9.8-11.3,16.6-21.1,14.3l-31.6-6.8c-9.8-1.5-15.1-11.3-13.6-21.1c1.5-3.8,2.3-8.3,3-12.1l-12.1-3.8
			L31,234.6c-3,1.5-6.8-0.8-6.8-3.8v-70.1c0-3,3.8-5.3,6.8-3.8l20.3,9.8l128.9-34.7v-8.3C180.2,122.3,181,120.8,182.5,120.1z
			 M121.5,242.1l-49-12.8l-3,11.3c-0.8,5.3,2.3,10.5,7.5,11.3l30.9,6.8c5.3,1.5,10.5-2.3,11.3-7.5L121.5,242.1z"/>
	</g>
</g>
<g>
	<path d="M308.8,204h-61.8c-4.9,0-8.9-4-8.9-8.9s4-8.9,8.9-8.9h61.8c4.9,0,8.9,4,8.9,8.9S313.6,204,308.8,204z"/>
</g>
<g>
	<g>
		<path d="M246.9,163.6c-2.3,0-4.5-0.9-6.3-2.6c-3.5-3.5-3.5-9.1,0-12.5l29.9-29.9c3.5-3.5,9.1-3.5,12.5,0s3.5,9.1,0,12.5L253.2,161
			C251.4,162.7,249.2,163.6,246.9,163.6z"/>
	</g>
	<g>
		<path d="M276.8,274.3c-2.3,0-4.5-0.9-6.3-2.6l-29.9-29.9c-3.5-3.5-3.5-9.1,0-12.5s9.1-3.5,12.5,0l29.9,29.9
			c3.5,3.5,3.5,9.1,0,12.5C281.4,273.4,279.1,274.3,276.8,274.3z"/>
	</g>
</g>
</svg>
      <p>{{ announcement.line1 }} <br> {{ announcement.line2 }} <br> {{ announcement.line3 }}</p>
    </div>
  </div>
  <div class="highlight">
    <span><a href="{{ yes.link.url }}">{{ yes.line1 }} <br> {{ yes.line2}} </a></span>
    <div class="highlight-img-container">
      {% for product_img in featured_product_images %}
        <img class="ice-cream {{ product_img.code }} {% if loop.index == 1 %}active{% endif %}" src="{{ product_img.image.url }}">
      {% endfor %}
      <img class="cone" src="{{ cone.url }}">
    </div>
    <span><a href="{{ no.link.url }}">{{ no.line1 }} <br> {{ no.line2 }}</a></span>
  </div>
  <div class="cue"><a href="" id="stop-drip"><strong>Click before<br> it drips!</strong></a></div>
  <div class="content-container">
      <h2>{{ flavours_header }}</h2>
      <div class="flavours-cloud">
        {% for flavourRow in featured_flavours %}
            {% for flavour in flavourRow.featured_flavour %}
              <span class="flavour-word" id="{{ flavour.code }}">
                {{ flavour.name }}
              </span>
            {% endfor %}
        {% endfor %}
      </div>
      <a href="{{ view_menu.url }}">{{ view_menu.title }}</a>
  </div>
</section>

<section class="location target2">
  {# <svg id="flavours-svg" class="filler-svg" preserveAspectRatio="meet" viewBox="0 0 1920 637.3" >
    <path d="M0,0H1919.8V144h0s20,195.5-342.2,195.5c-297.7,0-417.4,152.1-417.4,152.1s-68.6,86.7-260.2,22.7c-139-46.4-311.1-60.5-507.4-9.1C142,583.9,0,332.9,0,332.9Z" />
  </svg> #}
  <svg id="filler-svg" class="filler-svg" preserveAspectRatio="meet" viewBox="0 0 1920 637.3" >
    <path d="M0,0H1919.8V144h0s20,195.5-342.2,195.5c-297.7,0-417.4,152.1-417.4,152.1s-68.6,86.7-260.2,22.7c-139-46.4-311.1-60.5-507.4-9.1C142,583.9,0,332.9,0,332.9Z" />
  </svg>
  <h2>{{ locations_header }}</h2>
  <div class="places">
    {% for location in locations_list %}
      <div class="place">
        <svg width="252" height="251" viewBox="0 0 252 251">
          <defs>
            <pattern id="img1" patternUnits="userSpaceOnUse" x="0" y="0" width="500" height="500">
              <image xlink:href="{{ location.image.url }}" width="500" height="500" />             
            </pattern>
          </defs>
          <path d="M255.474,1828.876s30.562,4,77.176-34.469c19.329-15.486,36.13-30.382,36.13-30.382s21.341-19.507,22.267-38.9,8.912-51.893-15.784-84.516c-56.493-71.093-123.184-62.254-123.184-62.254s-65.754-1.231-85.511,33.546-23.428,38.353-25.154,79.648,1.726,58.931,14.239,69.255,16.932,16.637,32.034,33.843S224.559,1829.84,255.474,1828.876Z" transform="translate(-140.998 -1578.009)" fill="url(#img1)"/>
        </svg>

        <div class="place-info">
          <p>{{ location.title }}</p>
          <p>
            {% for address_line in location.address %}
              {{ address_line.line }}
              <br>
            {% endfor %}
          </p>
          <p>
            {% for contact_line in location.contact %}
              {{ contact_line.line }}
              <br>
            {% endfor %}
          </p>
          <a href="{{ location.google_map.url }}">{{ location.google_map.title }}</a>
        </div>
      </div>
    {% endfor %}
</section>

<section class="gallery target3">
  {# <svg id="places-svg" class="" preserveAspectRatio="none">
      <path d="M0.2,135.8c0,0-20,72,342.2,72c297.7,0,420.8,61.7,420.8,61.7s170,89.3,361.7,25.3c139-46.4,214-70.4,410.3-19
	c280,42.1,384.8-46.2,384.8-46.2V0H0.2V135.8z" />
  </svg> #}
  <svg id="filler-svg" class="filler-svg" preserveAspectRatio="meet" viewBox="0 0 1920 637.3" >
    <path  class="red" d="M0,0H1919.8V144h0s20,195.5-342.2,195.5c-297.7,0-417.4,152.1-417.4,152.1s-68.6,86.7-260.2,22.7c-139-46.4-311.1-60.5-507.4-9.1C142,583.9,0,332.9,0,332.9Z" />
  </svg>
  <div class="content-container">
    <h2>It's an<br> Ice cream <br>social!</h2>
    <a href="{{ insta_handle.url }}"><p>{{ insta_handle.title }}</p></a>
    <div class="gallery-image">
      {{ insta_gallery }}
    </div>
    <div class="gallery-image-mobile">
      {{ insta_gallery_mobile }}
    </div>
  </div>
</section>

{% endblock %}

{% block scripts %}

  <script type="text/javascript">
    window.flavours = {{ flavours|json_encode|raw }};
  </script>

{% endblock %}