{#

    Shop Page
    Here we show the shop banner and list of product excerpts.

#}

{% extends 'layout.twig' %}

{% set site_title = 'Shop' %}

{% set intro_header = global_options.banner.title_top %}
{% set intro_subheader = global_options.banner.title_bottom %}
{% set nav_footer = global_options.navigation_footer_link %}
{% block page %}

  <section class="intro">
    <h1>That's an</h1>
    <h1>ice cream flavour?</h1>
    <p>{{ intro_subheader }}</p>
  </section>

  {% if categories %}
    <div class="primary-filter">
    {# List Categories #}
      <ul class="filter-list">
        {% for category in categories %}
          <li class="list-item {% if current_primary_filter == category.slug|lower|replace({' ': '-'})%} active {% endif %}">
            <a href="{{ function('get_term_link', category) }}">{{ category }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <div id="scroll-container">
    <div class="wrap-container" id="wrap-scroll">
      <ul id="ul-scroll">
        {% for category in categories %}
          <li id ="{% if current_primary_filter == category.slug|lower|replace({' ': '-'}) or parent_cat == category|lower|replace({' ': '-'})%}active-el{% endif %}" class="list-item {% if current_primary_filter == category.slug|lower|replace({' ': '-'}) or parent_cat == category|lower|replace({' ': '-'})%} active {% endif %}">
            <a href="{{ function('get_term_link', category) }}">{{ category }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

    {# Subcategories #}
    <div class="secondary-filter">
        <ul class="filter-list">
            <li class="list-item {% if current_secondary_filter == null %}active{% endif %}">
                <a href="{{ function('get_term_link', categories[0]) }}">All</a>
            </li>
        {% if subcategories %}
          {% for subcategory in subcategories %}
            <li class="list-item {% if current_secondary_filter == subcategory.slug %}active{% endif %}">
              <a href="{{ function('get_term_link', subcategory) }}">{{ subcategory }}</a>
            </li>
          {% endfor %}
        {% endif %}
        </ul>
    </div>

    <section class="shop__products">

        {# Product List #}

    <div class="select-dropdown-filter">
      <div class="select">
        <select name="slct" id="slct" onchange="window.location.href = this.value;">
          <option value="{{function('get_term_link', categories[0])}}" {% if current_secondary_filter == null %}selected{% endif %}>
              All
            </option>
          {% for subcategory in subcategories %}
            <option value="{{ function('get_term_link', subcategory) }}" {% if virgin and subcategory == 'All' %} selected {% elseif current_subcategory == subcategory %} selected {% endif %}>
              {{ subcategory }}
            </option>
          {% endfor %}
        </select>
      </div>
    </div>

        {% if products is empty %}

        <div class="product-list product-list--empty">
          <h2 class="product-list__notification">There are no products available in this category</h2>
          <a href="/index.php/shop" class="product-list__link">View all products</a>
        </div>

        {% else %}

        <ul class="product-list grid">

        {% for product in products %}

          {% if loop.index0 == 2 and global_options.shop_divider.enable == true %}

            {% include 'components/shop-divider.twig' with {
              bg_colour: global_options.shop_divider.background_colour,
              copy: global_options.shop_divider.copy
            } only %}

          {% endif %}

          {% include 'components/product-excerpt.twig' with {
            product: product,
            currency: currency
          } only %}

        {% endfor %}

        </ul>

        {% endif %}

    </section>

    <section id="shop-foot-link" class="nav-shortcut choco">
      <svg id="filler-svg" class="filler-svg others top" preserveAspectRatio="meet" viewBox="0 0 1920 637.3" >
        <path d="M0,0H1919.8V144h0s20,195.5-342.2,195.5c-297.7,0-417.4,152.1-417.4,152.1s-68.6,86.7-260.2,22.7c-139-46.4-311.1-60.5-507.4-9.1C142,583.9,0,332.9,0,332.9Z" />
      </svg>
      <a class="journey-link__url" href="{{ nav_footer.url }}" >
        <span>{{ nav_footer.title }}</span>
        <br>
        <img src="{{ assets }}/svg/arrow.svg"></img>
      </a>
      <svg id="filler-svg" class="filler-svg others bottom" preserveAspectRatio="meet" viewBox="0 0 1920 637.3" >
        <path  class="orange" d="M0,0H1919.8V144h0s20,195.5-342.2,195.5c-297.7,0-417.4,152.1-417.4,152.1s-68.6,86.7-260.2,22.7c-139-46.4-311.1-60.5-507.4-9.1C142,583.9,0,332.9,0,332.9Z" />
      </svg>
    </section>

{% endblock %}
