{#

    Shop Page
    Here we show the shop banner and list of product excerpts.

#}

{% extends 'layout.twig' %}

{% set site_title = 'Shop' %}

{% set intro_header = global_options.banner.title_top %}
{% set intro_subheader = global_options.banner.title_bottom %}
{% set nav_footer = global_options.navigation_footer_link %}
{% block page %}

  <section class="intro">
    <h1>That's an</h1>
    <h1>ice cream flavour?</h1>
    <p>{{ intro_subheader }}</p>
  </section>

  {% if categories %}
    <div class="primary-filter">
    {# List Categories #}
      <ul class="filter-list">
        {% for category in categories %}
          <li class="list-item {% if current_category == category|lower|replace({' ': '-'}) or parent_cat == category|lower|replace({' ': '-'})%} active {% endif %}">
            <a href="{{ function('get_term_link', category) }}">{{ category }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <div id="scroll-container">
    <div class="wrap-container" id="wrap-scroll">
      <ul id="ul-scroll">
        {% for category in categories %}
          <li id ="{% if current_category == category|lower|replace({' ': '-'}) or parent_cat == category|lower|replace({' ': '-'})%}active-el{% endif %}" class="list-item {% if current_category == category|lower|replace({' ': '-'}) or parent_cat == category|lower|replace({' ': '-'})%} active {% endif %}">
            <a href="{{ function('get_term_link', category) }}">{{ category }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

    {# Subcategories #}
    {% if subcategories %}
      <div class="secondary-filter">
        <ul class="filter-list">
          {% for subcategory in subcategories %}
            <li class="list-item {% if virgin and subcategory == 'All' %} active {% elseif current_subcategory == subcategory %} active{% endif %}">
              <a href="{{ function('get_term_link', subcategory) }}">{{ subcategory }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}

    <section class="shop__products">

        {# Product List #}

    <div class="select-dropdown-filter">
      <div class="select">
        <select name="slct" id="slct" onchange="window.location.href = this.value;">
          {% for subcategory in subcategories %}
            <option value="{{ function('get_term_link', subcategory) }}" {% if virgin and subcategory == 'All' %} selected {% elseif current_subcategory == subcategory %} selected {% endif %}>
              {{ subcategory }}
            </option>
          {% endfor %}
        </select>
      </div>
    </div>

        {% if products is empty %}

        <div class="product-list product-list--empty">
          <h2 class="product-list__notification">There are no products available in this category</h2>
          <a href="/index.php/shop" class="product-list__link">View all products</a>
        </div>

        {% else %}

        <ul class="product-list grid">

        {% for product in products %}

          {% if loop.index0 == 2 and global_options.shop_divider.enable == true %}

            {% include 'components/shop-divider.twig' with {
              bg_colour: global_options.shop_divider.background_colour,
              copy: global_options.shop_divider.copy
            } only %}

          {% endif %}

          {% include 'components/product-excerpt.twig' with {
            product: product,
            currency: currency
          } only %}

        {% endfor %}

        </ul>

        {% endif %}

    </section>

    <section id="shop-foot-link" class="nav-shortcut choco">
      <svg id="top-svg" class="foot-svg" preserveAspectRatio="none">
        <path id="form-path" d="M0.2,135.8c0,0-20,72,342.2,72c297.7,0,420.8,61.7,420.8,61.7s170,89.3,361.7,25.3c139-46.4,214-70.4,410.3-19 c280,42.1,384.8-46.2,384.8-46.2V0H0.2V135.8z" />
      </svg>
      <a class="journey-link__url" href="{{ nav_footer.url }}" >
        <span>{{ nav_footer.title }}</span>
      </a>
      <svg id="bottom-svg" preserveAspectRatio="none">
        <path id="foot-path" class="orange" d="M0.2,135.8c0,0-20,72,342.2,72c297.7,0,420.8,61.7,420.8,61.7s170,89.3,361.7,25.3c139-46.4,214-70.4,410.3-19 c280,42.1,384.8-46.2,384.8-46.2V0H0.2V135.8z" />
      </svg>
      {# <svg class="smorph" id="strawberryShortCake" height="100%" width="100%"  viewBox="0 0 1920 1080" preserveAspectRatio="none"><path class="liquid-effect1" d="M0,3510v651.7s240.566,214.315,365.767,164.273,271.355-22.069,393.723,0,196.733,67.173,327.881,61.978,119-71.038,300.788-118.267,178.618,24.388,334.346,0,199.738-196.067,199.738-196.067V3510Z" transform="translate(0 -3700.5)" fill="white"/></svg> #}
    </section>

{% endblock %}
