{#

    Shop Page
    Here we show the shop banner and list of product excerpts.

#}

{% extends 'layout.twig' %}

{% set site_title = 'Shop' %}

{% block page %}

    <section class="shop">

        {% include 'components/banner.twig' with {
            type: 'shop',
            title: global_options.banner.title_top,
            subtitle: global_options.banner.title_bottom,
            image: global_options.banner.image
        } %}

        <section class="shop__products">

            <div class="product-filter grid grid--middle">

                {# List Categories #}

                {% if categories %}

                    <div class="grid__item 1/2 1/1--tablet-portrait">

                        <div class="product-filter__categories-wrap ">

                            <ul class="product-filter__categories">

                                {% for category in categories %}

                                    <li class="product-filter__category {% if current_category == category|lower|replace({' ': '-'}) %}product-filter__category--active{% endif %}">
                                        <a href="{{ function('get_term_link', category) }}">{{ category }}</a>
                                    </li>

                                {% endfor %}

                            </ul>

                        </div>

                    </div>

                {% endif %}

                {# List Filter #}

                {% if filters  %}
                    <div class="grid__item grid__item--right 1/2 1/1--tablet-portrait">

                        <div class="product-filter__categories-wrap align-right">

                            <ul class="product-filter__categories">

                                    {% for key, value in filters %}
                                        <li class="product-filter__category {% if (current_filter == key) %}product-filter__category--chosen{% elseif (key == 'date') and (current_filter == 'date ID') %}product-filter__category--chosen{% endif %}">
                                            <a href="{{ current_url }}?orderby={{ key }}">{{ key|capitalize }}</a>
                                        </li>

                                    {% endfor %}

                            </ul>

                        </div>

                    </div>

                {% endif %}

            </div>

            {# Product List #}

            {% if products is empty %}

                <div class="product-list product-list--empty">
                    <h2 class="product-list__notification">There are no products available in this category</h2>
                    <a href="/shop" class="product-list__link">View all products</a>
                </div>

            {% else %}

                <ul class="product-list grid">

                    {% for product in products %}

                        {% if loop.index0 == 2 and global_options.shop_divider.enable == true %}

                            {% include 'components/shop-divider.twig' with {
                                bg_colour: global_options.shop_divider.background_colour,
                                copy: global_options.shop_divider.copy
                            } only %}

                        {% endif %}

                        {% include 'components/product-excerpt.twig' with {
                            product: product,
                            currency: currency
                        } only %}

                    {% endfor %}

                </ul>

            {% endif %}

        </section>

    </section>

{% endblock %}
