{#

    Shop Page
    Here we show the shop banner and list of product excerpts.

#}

{% extends 'layout.twig' %}

{% set site_title = 'Shop' %}

{% set intro_header = global_options.banner.title_top %}
{% set intro_subheader = global_options.banner.title_bottom %}

{% block page %}

  <section class="intro">
    <h1>{{ intro_header }}</h1>
    <p>{{ intro_subheader }}</p>
  </section>

  {% if categories %}
    <div class="primary-filter">
    {# List Categories #}
      <ul class="filter-list">
        {% for category in categories %}
          <li class="list-item {% if current_category == category|lower|replace({' ': '-'}) or parent_cat == category|lower|replace({' ': '-'})%} active {% endif %}">
            <a href="{{ function('get_term_link', category) }}">{{ category }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

    {# Subcategories #}
    {% if subcategories %}
      <div class="secondary-filter">
        <ul class="filter-list">
          {% for subcategory in subcategories %}
            <li class="list-item {% if virgin and subcategory == 'All' %} active {% elseif current_subcategory == subcategory %} active{% endif %}">
              <a href="{{ function('get_term_link', subcategory) }}">{{ subcategory }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}

    <section class="shop__products">

        {# Product List #}

        {% if products is empty %}

        <div class="product-list product-list--empty">
          <h2 class="product-list__notification">There are no products available in this category</h2>
          <a href="/index.php/shop" class="product-list__link">View all products</a>
        </div>

        {% else %}

        <ul class="product-list grid">

        {% for product in products %}

          {% if loop.index0 == 2 and global_options.shop_divider.enable == true %}

            {% include 'components/shop-divider.twig' with {
              bg_colour: global_options.shop_divider.background_colour,
              copy: global_options.shop_divider.copy
            } only %}

          {% endif %}

          {% include 'components/product-excerpt.twig' with {
            product: product,
            currency: currency
          } only %}

        {% endfor %}

        </ul>

        {% endif %}

    </section>

{% endblock %}
