{#
    Main Layout
#}

<!DOCTYPE html>
<html lang="en" dir="ltr">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{{ site_title }} - NestBloom</title>
        {{ wp_head() }}
    </head>

    <body class="{% if user %}logged-in{% endif %} page page--{{ site_title|lower|replace({' ':'-'}) }}">

        {# Main Content #}
        <main class="main main--{{ site_title|lower|replace({' ':'-'}) }}">
            <div class="announcements" id="announcements">
                <p>A warm festive touch: Personalise your gift with a calligraphed message when you spend $50 and above.</p>
                 <a class="close" id="close-announcements"></a>
            </div>
            {# Header #}
            {% include 'layout/header.twig' %}

            {% block page %}{% endblock %}

            {# Footer #}
            {% include 'layout/footer.twig' %}

        </main>

        {% block scripts %}{% endblock %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/JQuery-Snowfall/1.7.4/snowfall.jquery.min.js"></script>
        <script type="text/javascript">
        jQuery(document).snowfall({
            image: "{{ theme.path }}/assets/img/global/flake.png",
            minSize: 30,
            maxSize: 30,
            maxSpeed: 2.4,
            flakeCount: 10,
        });

        </script>
    </body>
</html>
