{#
    Main Layout
#}

<!DOCTYPE html>
<html lang="en" dir="ltr">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{{ site_title }} - NestBloom</title>
        {{ wp_head() }}
    </head>

    <body class="{% if user %}logged-in{% endif %} page page--{{ site_title|lower|replace({' ':'-'}) }}">

        {# Main Content #}
        <main class="main main--{{ site_title|lower|replace({' ':'-'}) }}">
            <div class="announcements" id="announcements">
                <p>A warm festive touch: Personalise your gift with a calligraphed message when you spend $50 and above.</p>
                 <a class="close" id="close-announcements"></a>
            </div>
            {# Header #}
            {% include 'layout/header.twig' %}

            {% block page %}{% endblock %}

            {# Footer #}
            {% include 'layout/footer.twig' %}

        </main>

        {% block scripts %}{% endblock %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/JQuery-Snowfall/1.7.4/snowfall.jquery.min.js"></script>
        <script type="text/javascript">
        jQuery(document).snowfall({
            image: "{{ theme.path }}/assets/img/global/flake.png",
            minSize: 30,
            maxSize: 30,
            maxSpeed: 2.4,
            flakeCount: 10,
        });

        </script>
        	
        <script type="text/javascript"> _linkedin_partner_id = "576212"; window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || []; window._linkedin_data_partner_ids.push(_linkedin_partner_id); </script><script type="text/javascript"> (function(){var s = document.getElementsByTagName("script")[0]; var b = document.createElement("script"); b.type = "text/javascript";b.async = true; b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js"; s.parentNode.insertBefore(b, s);})(); </script> <noscript> <img height="1" width="1" style="display:none;" alt="" src="https://dc.ads.linkedin.com/collect/?pid=576212&fmt=gif" /> </noscript>

    </body>
</html>
